# Common ignore patterns for Next.js / Docker
node_modules
.next
out
build
.git
.env*
!.env.example
README.md
Dockerfile
.dockerignore
npm-debug.log
yarn-error.log
.DS_Store

# service account keys
service-account*.json

# cloud run env
cloud-run-env.yaml